/*************** COMMON/CONTAINER *****************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

.my-class-1{
    list-style-type:none;
    height: 10rem;
    width: 10rem;
    background-color: brown;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    /* non funziona middle 
    vertical-align: middle; */
}
.my-class-2{
    list-style-type:none;
    height: 10rem;
    width: 10rem;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    /* non funziona middle 
    vertical-align: middle; */
}
.my-class-3{
    list-style-type:none;
    height: 10rem;
    width: 10rem;
    background-color: rgb(97, 165, 42);
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    /* non funziona middle 
    vertical-align: middle; */
}




/************* HEADER *************/





/************* MAIN *************/





/************* FOOTER *************/





/************* RESPONSIVE *************/
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 576px) {
 
}